extends layout

block content

  <form method="POST" action="/new">
    <h1>Talk about whatever is on your mind!</h1>
    <label for="username"> Name:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="message"> Message: </label>
    <input type="text" id =message name="message">
    <br>
    <button id="Submit">Submit</button>
  </form>
