body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-card{
  border: 1px solid #59a9b9;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem;
}